:root {
  --lib4x-sv-cell-height: var(--a-gv-cell-height);
  --lib4x-sv-font-size: var(--a-gv-font-size); 
}

.jss_spreadsheet .jss_worksheet thead td {
  font-family: var(--ut-base-font-family, var(--a-base-font-family, sans-serif)); 
  font-size: var(--a-gv-header-cell-font-size, 12px);
  font-weight: var(--a-gv-header-cell-font-weight, var(--a-base-font-weight-bold, 700));
  height: var(--lib4x-sv-header-cell-height, 1.9rem);
}

.jss_spreadsheet .jss_worksheet tfoot td {
  font-family: var(--ut-base-font-family, var(--a-base-font-family, sans-serif)); 
  font-size: var(--a-gv-header-cell-font-size, 12px);
  height: var(--lib4x-sv-footer-cell-height, 1.6rem);
}

.jss_spreadsheet .jss_worksheet .jss_row {
  font-family: var(--ut-base-font-family, var(--a-base-font-family, sans-serif)); 
  font-size: var(--lib4x-sv-font-size, 12px);
  height: var(--lib4x-sv-cell-height, 2rem);
}

.jss_spreadsheet .jss_worksheet .a-GV-cell {
  height: var(--lib4x-sv-cell-height, 2rem);
}

.jss_content {
  box-shadow: none !important;
  scrollbar-width: auto !important;  
}

.jss_spreadsheet .jss_worksheet>tbody>tr>td {
  font-family: var(--ut-base-font-family, var(--a-base-font-family, sans-serif));
  font-size: var(--lib4x-sv-font-size, 12px);
}

.jss_worksheet>thead>tr>td {
  padding: var(--lib4x-sv-header-cell-padding-y, 2px)
           var(--lib4x-sv-header-cell-padding-x, 5px)
}

.jss_worksheet>tbody>tr>td, .lib4x-SV.jss_spreadsheet .jss_worksheet>tfoot>tr>td {
  padding: var(--lib4x-sv-cell-padding-y, 4px)
           var(--lib4x-sv-cell-padding-x, 6px);
}

.jss_spreadsheet:focus {
  outline: none !important;
}

.jss_spreadsheet .apex-item-single-checkbox {
  display: inline-block;
}

.lib4x-SV .sv-editor input, 
.lib4x-SV .sv-editor select {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important; 
}

.lib4x-SV .sv-editor select {
  background-size: var(--a-field-select-background-size, 2rem 1rem)!important;
  background-image: var(--a-field-select-background-image)!important;
  background-position: right center!important;
  background-repeat: no-repeat!important;
  padding-inline-end: var(--a-field-select-arrow-padding, 2rem)!important; 
}

.jss_spreadsheet .jss_worksheet .a-GV-cell.is-changed-gv:before,
.jss_spreadsheet .jss_worksheet .a-GV-cell.is-changed-sv:before,
.jss_spreadsheet .jss_worksheet .a-GV-cell.is-error-gv:before,
.jss_spreadsheet .jss_worksheet .a-GV-cell.is-warning-gv:before { 
  content: "";
  border: 3px solid;
  border-color: currentColor currentColor transparent transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.jss_spreadsheet .jss_worksheet .a-GV-cell.is-changed-gv:not(.is-error-gv, .is-warning-gv):before, 
.jss_spreadsheet .jss_worksheet .a-GV-cell.is-changed-sv:before {
  color: var(--a-palette-primary, #0572CE);    
}

.jss_spreadsheet .jss_worksheet .a-GV-cell.is-error-gv:not(.is-changed-sv):before {
  color: var(--a-palette-danger, #cb1100);    
}

.jss_spreadsheet .jss_worksheet .a-GV-cell.is-warning-gv:not(.is-changed-sv, .is-error-gv):before {
  color: var(--a-palette-warning, #ffc628);    
}

.jss_spreadsheet .jss_worksheet .is-updated-sv .jss_row::after,
.jss_spreadsheet .jss_worksheet .is-inserted-sv .jss_row::after,
.jss_spreadsheet .jss_worksheet .has-issues .jss_row::after {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    width: 4px;
    border-radius: 2px;
    pointer-events: auto;
}

.jss_spreadsheet .jss_worksheet .is-updated-sv .jss_row::after {
    background: var(--a-palette-primary, #0572CE); 
}

.jss_spreadsheet .jss_worksheet .is-inserted-sv .jss_row::after {
    background: #649666; /* var(--a-palette-success, #278701); */
}

.jss_spreadsheet .jss_worksheet .has-issues:not(.is-updated-sv) .jss_row::after {
    background: var(--a-palette-warning, #ffc628); 
}

.lib4x-SV-toolbar{
  /*border-top: 1px solid var(--border_color, rgba(0,0,0,0.08));*/
  padding: .3rem .3rem 0 .4rem;
}

/* toolbar wrap/nowrap */
/* nowrap also impacts ok/cancel buttons */
/*.lib4x-SV-toolbar .a-Toolbar-groupContainer{
  flex-wrap: nowrap;
}*/

.lib4x-SV-toolbar .a-Toolbar-radioGroup {
  white-space: nowrap;
}

.lib4x-SV-toolbar .a-Toolbar-group {
  margin-block-end: .35rem;
}

.lib4x-SV-toolbar .a-Button--withIcon {
  --a-button-padding-y: calc(9px - var(--a-button-border-width, 1px)); 
  --a-button-padding-x: calc(13px - var(--a-button-border-width, 1px));
}

.lib4x-SV label:has(.jss_search) {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.lib4x-SV .jss_search_clear { 
  transform: translateX(-140%);
  cursor: pointer;
}

.lib4x-SV .jss_content {
  scrollbar-gutter: stable;
}

.lib4x-SV {
  --a-switch-width: 2rem;
  --a-switch-toggle-width: 0.8rem;
  --a-switch-toggle-height: 0.8rem;   
  --ut-pillbutton-padding-y: 2px;
}

.lib4x-SV td:has(.apex-item-radio), .lib4x-SV td:has(.apex-button-group) {
  white-space: normal!important;
}

.lib4x-SV td div.apex-button-group.apex-item-group--switch{
  display: inline-block;
}

.lib4x-SV td.readonly .apex-item-single-checkbox,
.lib4x-SV td.readonly .a-Switch,
.lib4x-SV td.readonly .apex-item-radio,
.lib4x-SV td.readonly .apex-button-group {
  opacity: var(--a-checkbox-disabled-opacity, 0.5);
  cursor: var(--a-checkbox-disabled-cursor, default);
  pointer-events: none;  
}

.lib4x-SV td a-select .apex-item-comboselect .a-Button--comboSelect {
  padding: 0px 2px 0px 2px;
  margin: 0px 0px 0px -1px;
  background-color: var(--a-button-state-background-color, var(--a-button-type-background-color, var(--a-button-background-color, transparent)));  
}

.lib4x-SV td a-select .apex-item-comboselect span.a-Chip-clear {
  padding: 1px 2px 0px 0px;
}  

.lib4x-SV td a-select .apex-item-comboselect .a-Button--comboSelect:active {
  box-shadow: none;
}

.lib4x-SV td a-select .apex-item-comboselect {
  grid-template-columns: minmax(0, 1fr) auto auto;
  width: 100%;
}

.lib4x-SV td a-select .apex-item-comboselect input.apex-item-text {
  grid-column: 1;
  padding-inline-start: 5px;
}

.lib4x-SV td.a-GV-cell .a-GV-columnItem select, .lib4x-SV td.a-GV-cell .a-GV-columnItem input.apex-item-datepicker {
  padding-inline-start: 6px;
}

.jss_worksheet .editor > input, .jss_worksheet .editor > div > input
{
  padding-left: 6px;
}

.jss_worksheet > thead > tr > td:first-child {
    left: 0;
    z-index: 3;
}

.jss_worksheet > tbody > tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.jss_worksheet > tfoot > tr > td {
    cursor: default;
}

/*-- ui-dialog --*/

.ui-dialog .t-DialogRegion-body:has(.lib4x-SV), .ui-dialog .t-DrawerRegion-body:has(.lib4x-SV){
  padding: 0px;
}

.ui-dialog-titlebar-max + .ui-dialog-titlebar-close {    
  margin-inline-start: 8px;
}

.ui-dialog-titlebar-max {
  --a-button-padding-y: var(--jui-dialog-title-close-padding-y, 8px);
  --a-button-padding-x: var(--jui-dialog-title-close-padding-x, 8px);
  --a-button-border-width: var(--jui-dialog-title-close-border-width, 1px);
  --a-button-border-color: var(--jui-dialog-title-close-border-color);
  --a-button-border-radius: var(--jui-dialog-title-close-border-radius, 100%);
  width: var(--jui-dialog-title-close-width, 24px);
  height: var(--jui-dialog-title-close-height, 24px);
  margin-inline-start: 6px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.ui-dialog-titlebar-max .ui-icon {
  --jui-icon-background-image: none;
  --jui-icon-size: var(--jui-dialog-title-close-icon-size, 16px);
  text-indent: 0;
}

.ui-dialog-titlebar-max .ui-icon-max-restore::before {
  --jui-dialog-title-max-icon: "\e00f"; /* glyph for maximize */
  --jui-dialog-title-close-icon-font-family: "apex-5-icon-font";    
  display: block;
  content: var(--jui-dialog-title-max-icon, '\e00f');
  width: var(--jui-dialog-title-close-icon-size, 16px);
  height: var(--jui-dialog-title-close-icon-size, 16px);
  font-size: var(--jui-dialog-title-close-icon-size, 16px);
  line-height: var(--jui-dialog-title-close-icon-size, 16px);
  font-family: var(--jui-dialog-title-close-icon-font-family);
  text-transform: none !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-align: center;
}

.ui-dialog-titlebar-max.is-max .ui-icon-max-restore::before {
  content: "\e025"; /* glyph for restore */
}
